body,
html,
#root,
.app,
.container {
  width: 100%;
  height: 100%;
}

.container {
  font-size: 28px;
  color: rgb(51, 51, 51);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.loginForm {
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  padding-left: 20px;
  padding-right: 20px;
  color: #1189de;
  font-weight: 600;
  align-content: center;
  margin: 0 auto;
  
  
}


.inputField {
  padding-top: 16px;
  display: flex;
  justify-content: center;
}

.input {
  box-sizing: border-box;
  outline: none;
  border: solid 2px #1189de;
  border-radius: 4px;
  color: #292929;
  width: 100%;
  padding: 12px;
  font-size: 14px;
  background: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
}

.submitButton {
  padding-top: 16px;
}

.btn {
  width: 100%;
  min-width: 280px;
  color: #565656;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  border: solid 2px #2da3f7;
  border-radius: 4px;
  background: #2da3f7;
  cursor: pointer;
  align-content: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  transition: 0.3s;
}

.btn:hover{
  width: 100%;
  min-width: 280px;
  color: #565656;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  border: solid 2px #1189de;
  border-radius: 4px;
  background: #1189de;
  cursor: pointer;
  transition: 0.3s;

}

.sportsImage {
  
  height:30%;
}

.toggleButton {
  width: 280px;
  min-width: 280px;
  color: #565656;
  padding: 12px;
  margin: 20px;
  margin-top: 50px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  background: #fff;
  cursor: pointer;
}
